/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/app/componentes/estilo.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.containerMestre {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 10px;
  }
  .containerUsers {
    padding: 15px;
    border-radius: 10px;
    display: flex;
    gap: 30px;
    background-color: #333; 
  }

.navigation {
  background-color: #333;
  color: #fff;
  width: 18%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.navLinks {
  list-style: none;
  padding: 0;
  width: 100%;
  text-align: center;
}

.navLinks li {
  margin-bottom: 20px;
}

.navLink {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 10px;
  border-radius: 10px;
}

.navLink:hover {
  background-color: #007BFF;
}

.logout:hover {
  background-color: #e73f21;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/app/pages/dashboard/estilo.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
img {
 width: 70px;
 height: 70px;
 border-radius: 50px;
}

.dashboard{
  display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-grow: 1;
}
