.register {
  display: flex;
} 
 .container {
    width: 78%;
 }
  .register-form {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .register-form h2 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
  }
  
  input::placeholder {
    color: #999;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }