img {
   width: 100px;
   height: 100px;
}

@media screen and (max-width: 1000px) {
.dashboard {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    gap: 30px;
    flex-grow: 1;
}

.titulo {
   padding-bottom: 0;
}

.carregando {
   margin: auto;
   margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
  width: 30px;
  height: 30px;
}
}